In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [11]:
# handling empty value
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [13]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [15]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [19]:
reg.intercept_

221323.00186540408

In [24]:
# predict price for area = 3000sqft bedrooms 3 and ages 40
price = reg.predict([[3000,3,40]])
print("predict price : {}".format(price[0]))

predict price : 498408.25158030697

In [25]:
import pickle

In [26]:
model = reg.predict()
with open('model_pickle','wb') as f:
    pickle.dump(model,f)

NameError: name 'model' is not defined